/* navbar style start */

.name {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
}

.links {
    font-family: 'Times New Roman', Times, serif;
    padding-right: 200px;
}

@media screen and (max-width:547px){

    .name{
        margin-left: 2px;
    }

}

/* navbar style end */


/* home section style start */

.home {

    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(2, 1, 1, 0.7),rgba(25, 25, 34, 0.7)),url('Assests/Images/HomeBG.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}

.home-content{

    padding-top: 370px;
    color: white;

}

@media screen and (max-width:547px){

    .home{
        width: 100%;
    }

}


/* home section style end */


/* About section style Start */

.about {
    width: 100%;
    height: 100vh;
}

.social a {
    background-color: rgb(218, 210, 210);
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.about a:hover {
    background-color: rgb(240, 144, 144);
}

.about-cont {
    padding-top: 200px;
}

@media screen and (max-width:547px){

    .about-cont{
        padding-top: 50px;
    }

    .about {
        width: 100%;
        height: 100%;
    }

}
/* About section style end */


/* skill section tyle start */

.skills {
    width: 100%;
    height: 100vh;
}

.skills .row {
    padding-top: 160px;
}

@media screen and (max-width:547px){

    .skills .row{
        padding-top: 50px;
    }

    .skills {
        width: 100%;
        height: 100%;
    }
}

/* skills section style end */


/* footer section style start */

.footer {
    background-color: black;
    color: white;
}

.footer h3 {
    font-family: 'Times New Roman', Times, serif;
}

.footer a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:547px){

    .footer {
        width: 100%;
        height: 100%;
    }
}
/* footer section style end */
